<template>
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-lg-12 custom-header">
                <h3>Вход в панель администратора</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <form @submit.prevent="login" class="form">
                        <div class="form-group">
                            <input v-model="formData.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Почта">
                        </div>
                        <div class="form-group">
                            <input v-model="formData.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль">
                        </div>
                        <div>
                            <Loader v-if="loader"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Loader from '@/components/Loader';

export default {
    name: 'Login',
    data() {
        return {
            loader: false,
            formData: {
                email: '',
                password: ''
            }
        }
    },
    components: {Loader},
    methods: {
        async login() {
            this.loader = true;
            await this.$store.dispatch('login', this.formData);
            this.loader = false;
            window.location.href = '/orders';
        }
    }
}
</script>

<style scoped>
.form {
    background: #f2f2f2;
    padding: 10px;
}
</style>