<template>
  <div class="container order-container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Заказы</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered table-dark orders-table">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Номер</th>
            <th scope="col">Клиент</th>
            <th scope="col">Задача</th>
            <th scope="col">Статус оплаты</th>
            <th scope="col">Статус заказа</th>
            <th scope="col">Примечание</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="order in orders">
            <th scope="row">{{order.id}}</th>
            <td>{{order.id | orderNumber}}</td>
            <td>
              <router-link :to="`/users/${order.user.id}`">{{order.user.email}}</router-link>
            </td>
            <td>
              {{order.form_descriptor.name}}
            </td>
            <td>
              {{order.payment_status.name}}
            </td>
            <td>
              {{order.order_status.name}}
            </td>
            <td>
              <div>
                <textarea @change="updateRow(order)" v-model="order.note"></textarea>
              </div>
              <div :class="`alert-place-${order.id}`">
                
              </div>
            </td>
            <td>
              <div>
                <router-link :to="`/orders/${order.id}`" class="btn btn-success">Подробнее</router-link>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          <button v-if="orderPagination.nextUrl" @click="loadMore" class="btn btn-success">Показать еще</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapGetters} from "vuex";
import AlertTimer from "@/components/AlertTimer";
import {orderNumber} from "@/filters/orderNumber";

export default {
  name: 'Home',
  components: {AlertTimer},
  computed: mapGetters(['orders', 'orderPagination']),
  filters: {
    orderNumber
  },
  methods: {
    async loadMore() {
      await this.$store.dispatch('fetchOrders');
    },
    async updateRow(order) {
      await this.$store.dispatch('updateOrder', order);

      let refName = `alert-place-${order.id}`;
      let Wrapper = Vue.extend(AlertTimer);
      let alertTimer = new Wrapper({
        propsData: {
          message: 'Строка обновлена'
        }
      });
      alertTimer.$mount(`.${refName}`);
    }
  },
  async mounted() {
    this.$store.commit('clearOrders');
    await this.$store.dispatch('fetchOrders');
  }
}
</script>

<style>
.orders-table {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
</style>