<template>
  <div class="container order-detail" v-if="orderDetail">
    <div class="row row-offset">
      <router-link to="/orders" class="btn btn-dark">Все заказы</router-link>
    </div>
    <div class="row row-header row-offset">
      <div class="col-lg-1">
        <h3 class="row-header">Заказ</h3>
      </div>
    </div>
    <div class="row row-container row-custom row-offset">
      <span class="custom-font">Id заказа - {{orderDetail.id}}</span>
    </div>
    <div class="row row-container row-custom row-offset">
      <span class="custom-font">Номер заказа - {{orderDetail.id | orderNumber}}</span>
    </div>
    <div class="row row-container row-custom row-offset">
      <span class="custom-font">Клиент - <router-link :to="`/users/${orderDetail.user.id}`">{{orderDetail.user.email}}</router-link></span>
    </div>
    <div class="row row-container row-custom row-offset">
      <span class="custom-font">Задача - {{orderDetail.form_descriptor.name}}</span>
    </div>
    <div class="row row-container row-custom row-offset">
      <div>
        <span class="custom-font">Статус заказа</span>
      </div>
    </div>
    <div class="row row-container row-custom" style="margin-top: -10px;">
      <v-select
          v-model="order_status"
          :options="orderStatusesSelectable"
          @input="selectedOrderStatus"
      >
      </v-select>
    </div>
    <div class="row row-container row-custom row-offset">
      <div>
        <span class="custom-font">Статус платежа</span>
      </div>
    </div>
    <div class="row row-container row-custom" style="margin-top: -10px;">
      <v-select
          v-model="payment_status"
          :options="paymentStatusesSelectable"
          @input="selectedPaymentStatus"
      >
      </v-select>
    </div>
    <div class="row row-offset">
      <Loader v-if="loader" />
    </div>
    <div v-if="updated" class="alert alert-success">
      Данные изменены
    </div>
    <div class="row row-header row-offset">
      <div class="col-lg-1">
        <h3 class="row-header">Дата создания</h3>
      </div>
    </div>
    <div class="row row-container row-offset">
      <div class="row-1" style="padding: 10px;">
        <span class="custom-font">Дата создания - {{orderDetail.form.created_at | time}}</span>
      </div>
    </div>
    <div class="row row-container row-offset">
      <div class="row-1" style="padding: 10px;">
        <span class="custom-font">Дата обновления - {{orderDetail.form.updated_at | time}}</span>
      </div>
    </div>

    <div class="row row-header row-offset">
      <div class="col-lg-1">
        <h3 class="row-header">Данные</h3>
      </div>
    </div>

    <div v-for="(value, key) in orderDetail.form" v-if="!ignoreColumns.includes(key)" class="row row-container row-custom row-offset">
      <span class="custom-font" style="text-align: left">
        {{key}} - {{value}}
      </span>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import {time} from "@/filters/time";
import Loader from "@/components/Loader";
import {orderNumber} from "@/filters/orderNumber";

export default {
  name: "OrderDetail",
  data() {
    return {
      order_status: '',
      payment_status: '',
      loader: false,
      updated: false
    }
  },
  components: {Loader},
  computed: {
    ...mapGetters(['ignoreColumns', 'orderDetail', 'orderStatuses', 'paymentStatuses']),
    orderStatusesSelectable() {
      return this.orderStatuses.map(status => {
        return {
          id: status.id,
          label: status.name
        }
      });
    },
    paymentStatusesSelectable() {
      return this.paymentStatuses.map(status => {
        return {
          id: status.id,
          label: status.name
        }
      });
    }
  },
  filters: {
    time, orderNumber
  },
  methods: {
    async update() {
      this.updated = false;
      this.loader = true;

      await this.$store.dispatch('updateOrder', this.orderDetail);

      this.loader = false;
      this.updated = true;
    },
    selectedOrderStatus(status) {
      this.orderDetail.order_status_id = status.id;
      this.update();
    },
    selectedPaymentStatus(status) {
      this.orderDetail.payment_status_id = status.id;
      this.update();
    }
  },
  async mounted() {
    await this.$store.dispatch('fetchOrderStatuses');
    await this.$store.dispatch('fetchPaymentStatuses');
    await this.$store.dispatch('findOrderById', this.$route.params.id);

    this.order_status = this.orderDetail.order_status.name;
    this.payment_status = this.orderDetail.payment_status.name;
  }
}
</script>