<template>
    <div v-if="userDetail" class="container">
        <div class="row row-offset">
            <router-link to="/orders" class="btn btn-dark">Все заказы</router-link>
        </div>
        <div class="row row-header row-offset">
            <div class="col-lg-1">
                <h3 class="row-header">Пользователь</h3>
            </div>
        </div>
        <div class="row row-container row-custom row-offset">
            <span class="custom-font">Id пользователя - {{userDetail.id}}</span>
        </div>
        <div class="row row-container row-custom row-offset">
            <span class="custom-font">Id пользователя - {{userDetail.email}}</span>
        </div>
        <div v-if="userDetail.phone" class="row row-container row-custom row-offset">
            <span class="custom-font">Телефон - {{userDetail.phone}}</span>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: 'UserDetail',
    computed: mapGetters(['userDetail']),
    mounted() {
        this.$store.dispatch('findUserById', this.$route.params.id);
    }
}
</script>