<template>
    <div>
        <div v-if="show" :class="classStyles">
            {{message}}
        </div>
    </div>
</template>

<script>
export default {
    name: "AlertTimer",
    data() {
        return {
            show: true
        }
    },
    props: {
        message: String,
        delay: {
            type: Number,
            default: 5000
        },
        alertStyle: {
            type: String,
            default: 'alert-success'
        }
    },
    computed: {
        classStyles() {
            return `alert ${this.alertStyle}`;
        }
    },
    mounted() {
        console.log('Mounted');
        setTimeout(() => {
            this.show = false;
        }, this.delay);
    }
}
</script>