<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.custom-font {
  font-family: 'Open Sans', sans-serif;
}

.custom-header {
  font-family: 'Russo One', sans-serif;
}

span {
  font-size: 20px;
  font-weight: bold;
}
.order-detail {
  margin-top: 10px;
}
.row-custom {
  padding: 10px;
}
.row-header {
  background: #80bfff;
}
.row-container {
  background: #f2f2f2;
}
.row-offset {
  margin-top: 10px;
}
</style>
